.header {
  position: sticky;
  top: 0;
  left: 0;

  background: white;
  padding: 6px;

  display: flex;
  justify-content: space-between;
}

.scroll-window {
  border: 2px solid navy;
  max-height: 300px;
  overflow: auto;
  position: relative;
}

.list {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
}

.row {
  border-bottom: 1px solid black;
  padding: 10px;
}

.row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.cell {
  display: inline-block;
  padding: 5px;
}

.page-trigger {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-trigger.hidden {
  display: none;
}

.spacer {
  background-color: tomato;
}
