.spinner {
  font-size: 2rem;
}

.spinner span:nth-child(1) {
  animation: typing 1s linear infinite alternate;
}

.spinner span:nth-child(2) {
  animation: typing 1s linear infinite alternate;
  animation-delay: 333ms;
}

.spinner span:nth-child(3) {
  animation: typing 1s linear infinite alternate;
  animation-delay: 667ms;
}

@keyframes typing {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0.4;
  }
}
